:root{
    --color-1: #191163;
    --color-2: #050253;
    --color-3: #A4AAAD;
    --color-4: #111111; 
    --color-5: #FFFFFF;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-tb: 5px;
    --layout__image__width: 100%;
    --layout__image__height: 350px;
}


@font-face {
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/encode-sans/EncodeSans-Regular.ttf");
}
@font-face {
    font-family: "EncodeSans-Medium";
    src: url("../storage/font/encode-sans/EncodeSans-Medium.ttf");
}
@font-face {
    font-family: "EncodeSans-SemiBold";
    src: url("../storage/font/encode-sans/EncodeSans-SemiBold.ttf");
}
@font-face {
    font-family: "EncodeSans-Bold";
    src: url("../storage/font/encode-sans/EncodeSans-Bold.ttf");
}